.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
.centered {
    color:white;
    font-size: xx-large;
    position: absolute;
    top: 28%;
    left: 48%;
    transform: translate(-40%, -45%);
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/** Heaeder  **/
header {
    background-color: cyan;
}
h1 { 
    text-decoration: blue underline wavy;
    letter-spacing: 15px;
    font-size:80px;
}
nav1 {
    background-color:aquamarine;
    font-weight: bold;
    margin: 50px;
    border: 1pt solid green;
}
nav2 {



    
}
a:hover {
    text-decoration: none;
    font-weight:lighter;
}
a:active {
    background-color: yellow;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


//** BODY **/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue;
}
p {
    margin: 5px 0 10px 0;
    font-weight: bold;;
    font-family: Arial, Helvetica, sans-serif;
}
hr { 
    color:gray;
 }

 /** FOOTER **/
footer {
    text-align: center;
    background-color: #333;
    color: aliceblue;
    padding:7px;
}

/** MAIN **/
#updated {
    text-align: right;
}
/** About us **/
summary {
    color: green;
}


li {
    display: inline;
    float: left;
}
nav li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color:cadetblue;
}
.active {
    background-color: #04AA6D;
}




label  {
    font-weight: bold;
}
input[id="message"] {
    padding: 60px 50px;
}
input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
}


